
<!DOCTYPE html>
<html>
   <head>
      <title>Add Profile</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/add" method="POST">
         <label>IP ADDRESS</label>
         <input type="text" name="ip_addr" placeholder="first name...">
         <!-- <label>Last Name</label>
         <input type="text" name= "sensor1" placeholder="last name...">
         <label>Last Name</label>
         <input type="text" name= "sensor2" placeholder="last name..."> -->
         <button type="submit">Add</button>
      </form>
   </body>
</html>